body{
    justify-content: flex-end;
}

#content{
    background-color: #F9F9F9;
    opacity: 0.97;
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    margin: 0;
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#dados input[type="text"]::placeholder, #dados input[type="password"]::placeholder{
    color: #B6B6B6;
    font-family: "MontserratMediumItalic";
}
