<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/telas_iniciais.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="content">
        <div class="form">
            <div id="title">
                <h1>Login</h1>
            </div>
            <div id="dados">
                <form action="">
                    <input type="text" name="" id="" placeholder="Digite seu usuário">
                    <input type="password" name="" id="" placeholder="Digite sua senha">
                    <div>
                        <label for="">
                            <input type="checkbox" name="" id="">
                            Lembrar informações de login</label>
                    </div>
                    <div>
                        <input type="submit" name="" id="">
                        <a href="">Esqueci meu usuário e senha</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>