<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../static/css/base.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <div>
            <h1>Login</h1>
        </div>
        <div>
            <form action="">
                <div>
                    <label for="">Usuário
                        <input type="text" name="" id="">
                    </label>
                </div>
                <div>
                    <label for="">Senha
                        <input type="password" name="" id="">
                    </label>
                </div>
                <div>
                    <label for="">
                        <input type="checkbox" name="" id="">
                        Lembrar informações de login
                    </label>
                </div>
                <div>
                    <input type="submit" name="" id="">
                </div>
                <div>
                    <a href="">Esqueci meu usuário e senha</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>